@import "../dashboard/dashboard.component.scss";

.popular-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 35px;
    font-weight: bold;
    color: $lightblue;
}

.cards-container{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 45px;
    margin-bottom: 20px;
}