<div class="info-container">
    <h1>Our Services</h1>
    <hr width="50%">
    <div class="grid-container">
        <div class="grid-item">
            <h2>Travel</h2>
            <h4>Article Title</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae earum, cumque praesentium numquam magni temporibus, a minima tempora suscipit rerum assumenda vitae consectetur. Voluptatum at recusandae minus veniam incidunt molestiae?</p>
        </div>
        <div class="grid-item">
            <h2>Travel Arrangements</h2>
            <h4>Article Title</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae earum, cumque praesentium numquam magni temporibus, a minima tempora suscipit rerum assumenda vitae consectetur. Voluptatum at recusandae minus veniam incidunt molestiae?</p>
        </div>
        <div class="grid-item">
            <h2>Our Professional Guide</h2>
            <h4>Article Title</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae earum, cumque praesentium numquam magni temporibus, a minima tempora suscipit rerum assumenda vitae consectetur. Voluptatum at recusandae minus veniam incidunt molestiae?</p>
        </div>
        <div class="grid-item">
            <h2>Activities</h2>
            <h4>Article Title</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae earum, cumque praesentium numquam magni temporibus, a minima tempora suscipit rerum assumenda vitae consectetur. Voluptatum at recusandae minus veniam incidunt molestiae?</p>
        </div>
    </div>
</div>